{% extends "admin/admin_base.html.twig" %}

{% block body %}
    
    <div class="container-fluid"> 

        <div class="d-flex">

            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Nouvel catgories de Contrat</h6>
                </div>
                    <div class="card-body">  
                        {{ form_start(form) }}

                        <div class=""> {{ form_row(form.nom) }} </div> 
                        
                        <div class=""> {{ form_row(form.description) }} </div>
                        <button  type="submit"class="btn btn-warning rounded-0">
                            Enregistrer
                            <span class="fa fa-save"></span>
                        </button>
                        {{ form_end(form) }}
                    </div>
              </div>
            </div>

              <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">liste des catégories</h6>
                </div>
                <div class="card-body">
                    <table class="table table-warning table-bordered ">
                        <thead class="bg-warning text-light">
                            <tr>
                                <td> #</td>
                                <td>Nom </td>
                                <td>Description </td>
                                 <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                        
                        {% for cat in cats %}
                        <tr>
                            <td> {{ cat.id }} </td>
                            <td>{{ cat.description | raw  }}</td>
                            <td>{{cat.nom}} </td>
                             <td>
                               <a class="btn-sm text-primary" href="{{ path("categoris_contrat_update",{'id': cat.id })}}"> <i class="fa fa-pencil-alt"></i></a> |
                                <a class="btn-sm text-primary" href="{{ path("categoris_contrat_delete",{'id': cat.id })}}"> <i class="fa fa-trash-alt"></i></a>
                               
                             </td>
                             </tr>
                        {% endfor %}
                        </tbody>
                    
                    </table>
                </div>
              </div>
            </div>

        </div>
        

    </div>



       
            

          
          
{% endblock %}