{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.commentaire) }}
    <button  type="submit"class="btn btn-danger rounded-0">
        Enregistrer
        <span class="fa fa-save"></span>
    </button>
{{ form_end(form) }}